<div class="container">
  <div class="navigation">
    <ul>
      <li>
        <a>
          <span class="icon"><fa-icon [icon]="faLaptopCode"></fa-icon></span>
          <span class="title">Brand Name</span>
        </a>
      </li>
      <li *ngFor="let value of menu" (click)="addClass(value.id)" [ngClass]="[value.class]">
        <a>
          <span class="icon"><fa-icon [icon]="value.icon"></fa-icon></span>

          <span class="title">{{ value.title}}</span>
        </a>
      </li>
    </ul>

  </div>
</div>
